body {
  background: linear-gradient(46.19deg, #000000 5.66%, #434343 94.35%);
  color: white;
  font-family: Poppins;
  font-weight: 600;
}

.bg-container {
  height: 100vh;
  background: url("https://assets.codepen.io/6060109/p1-elon-alt.png") no-repeat
    left bottom;
  background-size: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.inner-container {
  height: 90%;
  width: 90%;
  position: relative;
}

.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
}

.top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}
.top-left img {
  width: 35%;
}

.top-right {
  right: 0;
  top: 3%;
}

.top-right button {
  padding: 10px 20px;
  background: #fe9c0b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}

.bottom-left {
  bottom: -15%;
  left: 0;
  font-size: 50px;
  color: #00ff6c;
}

.bottom-right {
  right: 0;
  bottom: 10%;
  height: 70%;
  width: 40%;
  background-color: white;
  border-radius: 15px;
  overflow: scroll;
}

@media (min-width: 992px) {
  .bg-container {
    background-size: 30%;
  }
  .top-left div {
    width: 20%;
  }
}
